* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-family: "TruenoLight", Arial, Helvetica, sans-serif;
}
:root {
  --teal: #177876;
}
body {
  background-color: rgb(232, 230, 230);
}

div .container {
  position: relative;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  border-bottom: 3px solid var(--teal);
}

header,
main,
footer {
  padding: 20px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-top: 3px solid var(--teal);
}

header,
footer {
  color: #122663;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
  background-color: white;
}

h1 {
  color: white;
}

h1,
h2,
h3 {
  font-size: 20px;
  margin: 20px 0;
}

h2,
h3 {
  color: #177876;
  text-align: center;
}

img {
  max-width: 300px;
  margin: 20px 0;
}

form {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 60px;
  border: 2px solid #177876;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

form p {
  margin: 10px;
}

form input {
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #177876;
  max-width: 87%;
}

form button {
  background-color: #177876;
  border: 0px;
  padding: 5px 10px;
  color: white;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

p {
  color: #454545;
}

button {
  cursor: pointer;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  background-color: #177876;
  color: white;
}

@media all and (min-width: 600px) {
  h2,
  h3 {
    color: #177876;
    font-size: 14px;
    margin-top: 5px;
  }
  p {
    font-size: 16px;
  }

  form {
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
  }

  main {
    margin-right: 15%;
    margin-left: 15%;
  }
}
